body {
    font-family: Arial;
    color: white;
    background: #4F4F59;
}
.sub-section {
    font-weight: 700;
    font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  background-color: #6F6F80;
  padding: 20px;
  text-align: center;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

#order-form {
    display: inline-block;
    padding: 20px;
    background-color: #6F6F80;
}

#form {
    font-weight: 700;
    font-size: 20px;
}

.form-function {
    display: inline-block;
    padding: 20px;
    background-color: #6F6F80;
}

.form-function-title{
    font-weight: 700;
}


